<div>
  <h3>{{projectToDisplay?.name}}</h3>
  <h4>{{projectToDisplay?.author}}</h4>
  <p>{{projectToDisplay?.description}}</p>
  <ul>
    <li>Pledged:{{projectToDisplay?.pledged}}</li>
    <li>Goal:{{projectToDisplay?.goal}}</li>
    <li>Days left: {{projectToDisplay?.daysToGo}}</li>
    <li>Category: {{projectToDisplay?.category}}</li>
  </ul>
  <img src="{{projectToDisplay?.image}}" alt="Project logo">
</div>
<div>
  <div>
    <label>Donation Amount:</label>
    <br>
    <input #newDonation>
  </div>
  <button (click)="beginFundingProject(newDonation.value, projectToDisplay)">Fund Project</button>
</div>
